<!--   _Layout.cshtml
Name: Katherine Bellman
Student ID: 100325825
Date: November 15th 2021

Description: Layout for MVC web application with Entity Framework

-->

@model IncIncWeb.Models.WorkerModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details for :</h1>

<div>
	<h4> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
	<hr />
	<dl class="data_table justify-content-center">
		<div class="row justify-content-center">
		<dt class="col">
			@Html.DisplayNameFor(model => model.DateEntered)
		</dt>
		<dd class="col">
			@Html.DisplayFor(model => model.DateEntered)
		</dd>
</div>
<div class="row justify-content-center">
	<dt class="col">
		@Html.DisplayNameFor(model => model.FirstName)
	</dt>
	<dd class="col">
		@Html.DisplayFor(model => model.FirstName)
	</dd>
</div>
<div class="row justify-content-center">
	<dt class="col">
		@Html.DisplayNameFor(model => model.LastName)
	</dt>
	<dd class="col">
		@Html.DisplayFor(model => model.LastName)
	</dd>
</div>
<div class="row justify-content-center">
	<dt class="col">
		@Html.DisplayNameFor(model => model.Messages)
	</dt>
	<dd class="col">
		@Html.DisplayFor(model => model.Messages)
	</dd>
</div>
<div class="row justify-content-center">
	<dt class="col" >
		@Html.DisplayNameFor(model => model.Pay)
	</dt>
	<dd class="col" >
		@Html.DisplayFor(model => model.Pay)
	</dd>
</div>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
